 <!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Chi tiết</title>
   <!-- stylesheet -->
   <link rel="stylesheet" href="client/css/product-details.css">
   <link rel="stylesheet" href="client/css/style.css">
   <!-- fav icon -->
   <link rel="icon" href="client/images/icon.png">

   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
  <% include ./layout/menu.ejs %>

 <div class="wrap-product-detail">
 
      <div class="card">
         <!-- card left -->
         <div class="product-imgs">
            <div  class="img-display">
               <div  width="400" height="500" class="img-showcase">
               <% for( var  i = 0; i<5;i++){ %>
               <% var url =  data.urlImage[i]
                  if(!url)
                  {
                      url = 'client/images/books/book-2.jpg'
                  }
                 %> 
                  <img src="<%=url%> "  alt="product image ">
                  <%} %>
               </div>
            </div>
           

          
      
            <div class="img-select">
            <% for( var  i = 0; i<5;i++){%>
              <% var url = data.urlImage[i]
                  if(!url )
                  {
                     url = 'client/images/books/book-2.jpg'
                  }
               %>
               <div class="img-item" >
                  <a href="#" data-id="<%= i+1 %>">
                     <img class="img-post" src="<%=
                     url
                       %>" alt="book image ">
                  </a>
               </div>
              
               <% } %> 
            </div>
         </div>
         <!-- card right -->
         <div class="product-content">
            <h2 class="product-title"><%=data.title %> </h2>
            <a href="#" class="product-category"><%= data.NameProduct[0].NameProduct %></a>

            <div class="product-price">
               <p>Miễn phí</p>
            </div>

            <div class="product-detail">
               <h3>Thông tin sản phẩm:</h3>
               <p><%= data.note %></p>
            </div>

            <div class="purchase-infor">
               <!-- <input type="number" min="0" value="1"> -->
               <button type="button" class="btn">
                  <i class="fas fa-cart-plus"></i> Thêm vào giỏ hàng
               </button>
            </div>

            <div class="seller-infor">
               <h4><%= data.NameAuthor %></h4>
               <p>
                  <i class="fas fa-map-marker-alt"></i> <%= data.address %>
               </p>
               <p>
                  <i class="fas fa-phone-alt"></i><%= phone %>
               </p>
            </div>

            <div class="wrap-social-link">
               <h4> Chia sẻ tin đăng này cho bạn bè:</h4>
               <div class="social-link">
                  <a href="#"><img src="client/images/social-logo/circle-facebook.svg" alt="facebook"></a>
                  <a href="#"><img src="client/images/social-logo/circle-messenger.svg" alt="messenger"></a>
                  <a href="#"><img src="client/images/social-logo/circle-zalo.svg" alt="zalo"></a>
                  <a href="#"><img src="client/images/social-logo/circle-copylink.svg" alt="copy"></a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <% include ./layout/footer.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

   <script src="client/js/product-details.js"></script>
   <script src="client/js/script.js"></script>