<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row">
                    <div class="clearfix"></div>
                    <div class="col-lg-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">ALL ACCOUNT</h2>
                                <div class="actions panel_actions pull-right">
                                    <a class="box_toggle fa fa-chevron-down"></a>
                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                    <a class="box_close fa fa-times"></a>
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- ********************************************** -->
                                        <table class="rwd-table container">
                                            <thead>
                                                <tr>
                                                    <th style="width: 100px;">
                                                        STT</th>
                                                    <th style="width: 250px; text-align: center;">
                                                        ID</th>
                                                    <th style="width: 100px;">
                                                        Rule</th>
                                                    <th style="text-align: center;">PhoneNumber</th>
                                                    <th style="width: 200px; text-align: center;">
                                                        Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% let i=0; %>
                                                    <% account.forEach(function(item){ i++;%>
                                                        <tr>
                                                            <td class="td-hover">
                                                                <%= i%>
                                                            </td>
                                                            <td class="td-hover">
                                                                <%= item._id%>
                                                            </td>
                                                            <td class="td-hover">
                                                                <% if(item.Rule==1 ){%>
                                                                    User
                                                                    <%}else{%>
                                                                        Admin
                                                                        <% } %>
                                                            </td>
                                                            <td class="td-hover">
                                                                0<%= item.PhoneNumber%>
                                                            </td>
                                                            <td style="text-align:center">
                                                                <button type="button" class="circle circle1"
                                                                    onclick="deleteAccount('<%=item._id%>')"><i
                                                                        class="fa fa-trash-alt"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <%})%>
                                            </tbody>
                                        </table>
                                        <!-- ********************************************** -->
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">

            </div>

            <% include ../playout/footer.ejs %>
                <script src="TT_Admin/assets/plugins/datatables/js/jquery.dataTables.min.js"
                    type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"
                    type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"
                    type="text/javascript"></script>
                <script
                    src="TT_Admin/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js"
                    type="text/javascript"></script>
                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
                <script>
                    async function deleteAccount(id) {
                        await axios({
                            method: 'POST',
                            url: `<%=url %>/admin/remove-account?_id=${id}`
                        }).then(data => {
                            location.href = "admin/all-account";
                        })
                    }
                </script>